body{
    background-image: url("./images/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: #fffe12;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size:3rem;
    margin-top: 4%;
}
p{
    margin-left:25%;
    font-size:x-large;
    color: azure;
    font-weight: bolder;
}
#btn{
    margin-left: 43%;
    width: 120px;
    height: 40px;
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: transparent;
    color: yellow;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    padding: 1px;
    margin-bottom: 7px;
}
#btn:hover{
    background-color:rgb(83, 115, 19);
    color: azure;
}